apiVersion: v1
data:
  postfix-accounts.cf: |
    lapi@lapi.gq|{SHA512-CRYPT}$6$Dk7cbhhuGDhPFAZ8$5Xf9nlK/7Xhs1ymir9pGUnDe/aDuPhHX/Bb3Mh2BSoXZKzU3Cnc3lEPZ8WxiN69BZJ3YmDe2D3HViQBWtvPQd0
  # do not require SPF checks
  postfix-main.cf: |
    smtpd_recipient_restrictions = permit_sasl_authenticated, permit_mynetworks, reject_unauth_destination, reject_unauth_pipelining, reject_invalid_helo_hostname, reject_non_fqdn_helo_hostname, reject_unknown_recipient_domain, reject_rbl_client zen.spamhaus.org, reject_rbl_client bl.spamcop.net
kind: ConfigMap
metadata:
  name: config
---
apiVersion: v1
data:
  KeyTable: |
    mail._domainkey.lapi.gq lapi.gq:mail:/etc/opendkim/keys/lapi.gq/mail.private
  SigningTable: |
    *@lapi.gq mail._domainkey.lapi.gq
  TrustedHosts: |
    127.0.0.1
    localhost
kind: ConfigMap
metadata:
  name: opendkim
---
apiVersion: v1
data:
  mail.private: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIJKQIBAAKCAgEAtGa2cJ4F0G/eqfVUnQvD7zjt1XEcl+4v1i1s1H6LEoiqIobt
    v/SOjpslVgjj0bvhhHmsdubcLw3FIao2mMuMTKQMs3044OjQeSIcRnx9ap43BLQN
    DD+jUHl1QBDEj3P7MzowdrCUZZ4xPxGgaJuolvWk8cITWulqg7Rd9Wu0Msg0p33R
    v2Po9WUnZbuARBhmCiSg1fGc9skaeCzv0XWbojyfhPuQOWJooLSL3K6L3e5U3K3M
    MOr22p93qilMFbGYDd1bs1OSFrlLAWJ2JTT59Mg9amauJHDJ+Zl/ZCbdEKzdErXz
    FYjSbs6o2jtRurpIu3eH0uQTbVSRpQ+QBtvQutqrwvKNo2cW1bXqb4SGzSuYDPqx
    h6CO+ngdN6pD4rQFAuRUUOyoaovzTpCin3h+n9AwfOCPrBZuNPmoVSZlRyDPncjQ
    B5xKL44j5bQ4G+QGWsZRSoT42qQBM1Eg6TXXDWwX3GJmfGEK15aahVkfUSpmx5F7
    sD/su14cMtT1D+DkDv1kWrQQ092gkPUUZ5EwupltaPt+wfbhRYH+H0jXTpA6IfmB
    FGrUi8yJt2TxE8xgQJn+lAt9HbPIc2CZpzUA1tZT3L7Qs0yZiAHnTqwUl/SDQ9p4
    DrLRTxNvtDgneGur/0/xH1RwmAEvBG6wRXQjxwqPgRNMC6VNynfTVaTDkCUCAwEA
    AQKCAgAgyMHC+ZTI6mumq2TzHV5ALTJbpbCyk6Cx5ZNvkoenmJqCp86xIbp+hAdm
    +TqdtO0o7AvBl/bPvkri8VH2tpcKno2IWOtrRCQOv3ov/RO1uob5Hdd5MF93knsS
    Z3mxMDyodJy2FSUCyprcgVGLcS5UMNQG82QdE2o+ARtKLIaU6/lVrvHdPETrw7RD
    Mq3+sghpM3rfJoeF+coLqO70O9FKzIWY3za4lv+4pNb+BeJ5NITLjfIbubeex3gx
    vkuLbbjaXC38CuXzpzzQRZp+7H+4UmOG4J4pFS4/Y/vYsY9fJmsOqW5BrZnAdWIO
    NtWFf7EUEIbodnZpWgMV4hwkgvINlMNa+S/P6z5cuDAq+/fqKHBum5pcU6D745uy
    MEH5VdbPH9zgrJLS4UXWRzCAdENXiGxxy3PVp4hrtnDo3pPwSitQ+lRDenQfmPFE
    8hysj7+KdBOoLYUvOXglWX72zZX4XmXRajxxmSa5sDsvJEEgsiCA5/9xhdjVMSD6
    xzA5yNFQEQClX0tf4Dvqwkv3dYYzQGubDFdNjAi5wfeVcb5e0t7ZHxGsFh6DQXVR
    cmkhm/3BsCHmjHZXOzTuZYlt8dnOaLpiNTc88fqfjEiAVR22Eu8YRJgmI9WNB2Ll
    G7uNyz9Ms63mHNVWzawYurSt689GNBkYfsjeIoytxz83mlZ0gQKCAQEA5bfvlBg7
    NHpRqQ+10ue+EC2nUl4W5AE37rjzcrA4avbW+xQ1EOvtKQpHs7P2qz3NOb4/AD3s
    U3V9AnUWNjjJz2NnCV/B30tdF+kenFjlPmDkOdJvQb3cyeSs2JOa7vbTxzEUZld6
    oHRXk5iHJCWgGbHtyU1bjWSZoOeQ87bsFhz/RkjMNmS8dQbZ4VuMIG1Yh/cal2uE
    UGkDvVMikdTx3nVZHcSw3YANv0359QB/DQmUyLHtbaZM1bRi9yW85gIAwR3svjlm
    x0pBhlN4jdkfd8SmJ2lwNS0Yk21x9viCy6e76+l9D5bKRbruAcRIEEiTummlwT6Q
    4m3pkonc65ATdQKCAQEAyQpbi/eY4bMr/yov3i6CyHobzTCT5t6s/IZ9esPoXZnd
    hxA1Gs/jvcYWGiHH89GdPkawZsERJ050f0pNhcIoq5RMSv9YH0bp6TTvABttO+8Z
    W1BLOVBMVgT+HgKd1nxczSKgQvNeUQY168ZhcBReEcFhnd9Iwv0rMo/mcZ8aLuAl
    5A8U60dBwuHJV8Ia5z+a1+yfpDUTXP7cNo9mnIgsxyQtdF+B8yiHKn8gnnEIMSTw
    jzvp1/v3DTDgFQal7axrrGLiTCJ+faq5KHqAqf0nZWBbrMWQmw15f/esQJE+IWPq
    QNoR5VdA69b/MbIR7adP9RGunUwYSSepyQWS089j8QKCAQEAr0su3NmoxCDbE6FT
    ZD9G/912oxn9abusTNSBoXDrfGQkJLCE1gbSkNCxamXXw1CDvJ56QNr/7afn3uou
    Ku4mwcTeqX6S2KwPu+E+ZJxJQtJ5Fc6I66fQRZfkddgdEGD1tjizkm0KvEpLUevA
    pEq54yGtjEElrb2opepO6Esb2LwD6ERA4Pj5/mtd8+QCB/So7AgaGJYI/7tDCUPZ
    S2Mttk3h1R90v3GqC+Oa6+SXDwHSsVtlDJksZJ8kLeh0PygkHzmQoI/45/a4DaLA
    ia23n5NGHykMYOeqq0WHA6kbVgEHG7yunCi67X75hAud2h8n68YWoGH3+XFaHWJq
    XK8yyQKCAQBZfA3BoGThWXIk8q850zQNbiS/0XaT1dvjzy09HsRoHVu4iaNJmu1B
    BFHEMfMheNTn6mkMY7Vx7H74Rad5+TFHJgxLeZrM2TC2yAP15T9a5RNBTN0e1roT
    s8c0rm95EAPynw38nv0FTaFkn/mw/K/ecVg1ADUP7cZzjA/D1VC/OrBC8d+a1i3U
    Q9HuCQ0Wj34pzD5GxgUnaJ22f1/qHsbnoRfGa9iY1hpL9Sgcvi0qSsn0x3NP2uxd
    Z7rmQP5Ma2nF4oHd56Cr6Pjfpp9siq0ld512qr2x9m51YlW+q6efDy0uzqIWlh7k
    mt8eTKekQ8vYRpWVmFBbB5eQTbXMJ8zRAoIBAQC3qfnjs+FJdSBE1N0b0Q6lz7+E
    VOeJMzpUhkEdlKv3PIs5JvxtJfwIOa0GJ77uqCLNBdhkvtNeKfbPY2icf8t+CISy
    x3/Lw8JxAFmAkPn0bmsGcnMysJGYXqveP9o3hHbuPm/wimZ+yOTkONSm500foTu5
    enwEhxRA5N4/2vYIklCAIItbhLUlrbvb7qpF86VKUoAsXW27K+SwRkvaZcHmPWe1
    r1SudanvzZov5jONsLefyokafg6rCSzg/a2XEnV+YStmmz9cDNFm8xHN3aaeXWDK
    3l1+90WQVzDKWCsrqQhlz97IWkIcG/GfoxZDC3T7w9HAhgvb1tZuv63cQ4nS
    -----END RSA PRIVATE KEY-----
  mail.txt: "mail._domainkey\tIN\tTXT\t( \"v=DKIM1; h=sha256; k=rsa; \"\n\t  \"p=MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAtGa2cJ4F0G/eqfVUnQvD7zjt1XEcl+4v1i1s1H6LEoiqIobtv/SOjpslVgjj0bvhhHmsdubcLw3FIao2mMuMTKQMs3044OjQeSIcRnx9ap43BLQNDD+jUHl1QBDEj3P7MzowdrCUZZ4xPxGgaJuolvWk8cITWulqg7Rd9Wu0Msg0p33Rv2Po9WUnZbuARBhmCiSg1fGc9skaeC\"\n\t
    \ \"zv0XWbojyfhPuQOWJooLSL3K6L3e5U3K3MMOr22p93qilMFbGYDd1bs1OSFrlLAWJ2JTT59Mg9amauJHDJ+Zl/ZCbdEKzdErXzFYjSbs6o2jtRurpIu3eH0uQTbVSRpQ+QBtvQutqrwvKNo2cW1bXqb4SGzSuYDPqxh6CO+ngdN6pD4rQFAuRUUOyoaovzTpCin3h+n9AwfOCPrBZuNPmoVSZlRyDPncjQB5xKL44j5bQ4G+QGWsZRSoT4\"\n\t
    \ \"2qQBM1Eg6TXXDWwX3GJmfGEK15aahVkfUSpmx5F7sD/su14cMtT1D+DkDv1kWrQQ092gkPUUZ5EwupltaPt+wfbhRYH+H0jXTpA6IfmBFGrUi8yJt2TxE8xgQJn+lAt9HbPIc2CZpzUA1tZT3L7Qs0yZiAHnTqwUl/SDQ9p4DrLRTxNvtDgneGur/0/xH1RwmAEvBG6wRXQjxwqPgRNMC6VNynfTVaTDkCUCAwEAAQ==\"
    )  ; ----- DKIM key mail for lapi.gq\n"
kind: ConfigMap
metadata:
  name: opendkim-keys-lapi-gq
