kind: PersistentVolume
apiVersion: v1
metadata:
  name: prometheus-pv
  labels:
    name: prometheus-pv
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: prometheus
    name: prometheus-pvc-prometheus-statefulset-0
  local:
    path: /mnt/sda/data/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - node1
