apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: lapi-website-gatsby
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"

spec:
  tls:
    - hosts:
        - www.lapi.gq
        - lapi.gq
      secretName: lapi-website-gatsby-tls
  rules:
    - host: www.lapi.gq
      http:
        paths:
          - path: /
            backend:
              serviceName: lapi-website-gatsby
              servicePort: 80
    - host: lapi.gq
      http:
        paths:
          - path: /
            backend:
              serviceName: lapi-website-gatsby
              servicePort: 80
